In [1]:
import pandas as pd

In [2]:
total_data = pd.read_csv("clustered_data_by_kmeans.csv", index_col=0, low_memory=False)
total_data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'clustered_data_by_kmeans.csv'

In [ ]:
len(total_data)

10301989

In [ ]:
total_data.tail()

,normalized feature 0,normalized feature 1,normalized feature 2,normalized feature 3,cluster
10301984,-0.149085,-3.024297,-0.109888,1.451584,81
10301985,-0.373566,-2.920240,-0.109888,2.070734,113
10301986,-0.388133,-2.374446,1.076821,0.832435,113
10301987,-0.325692,-2.359158,-0.109888,2.070734,64
10301988,1.540218,1.817070,-0.109888,-0.405863,6

In [ ]:
total_data.drop(10301988, axis=0, inplace=True)
total_data.tail()

,normalized feature 0,normalized feature 1,normalized feature 2,normalized feature 3,cluster
10301983,-0.181006,-2.659083,1.076821,1.451584,81
10301984,-0.149085,-3.024297,-0.109888,1.451584,81
10301985,-0.373566,-2.920240,-0.109888,2.070734,113
10301986,-0.388133,-2.374446,1.076821,0.832435,113
10301987,-0.325692,-2.359158,-0.109888,2.070734,64

In [ ]:
len(total_data)

10301988

In [ ]:
final_data = pd.read_csv("final_data_added_lipinski.csv", low_memory=False)
final_data.head()

,smiles,zinc_id,MolWt,LogP,HDonors,HAcceptors
0,C[C@H](NC(=O)c1ccc(-c2ccccc2)nc1O)c1ccc(N2CCN(...,2325719276,434.515,3.8361,2,5
1,C[C@@H](NC(=O)/C=C/c1c(Cl)nc2sccn12)c1ccc(N2CC...,2325719436,447.967,3.8307,1,6
2,C[C@H]1CN(c2ccc(CNC(=O)[C@@H](C)n3ccc4ccccc4c3...,252536409,437.515,3.6316,1,5
3,O=C(NCc1ccc(N2CCOCC2)cc1C(F)(F)F)c1ccc(NCC2CC2...,170617918,434.462,3.6889,2,5
4,COc1ccc(Cl)cc1NC(=O)C1=C(C)NC(=S)N[C@@H]1c1ccc...,867170,430.961,3.8461,3,4

In [ ]:
len(final_data)

10301988

In [ ]:
final_data["cluster"] = total_data["cluster"]
final_data.head()

,smiles,zinc_id,MolWt,LogP,HDonors,HAcceptors,cluster
0,C[C@H](NC(=O)c1ccc(-c2ccccc2)nc1O)c1ccc(N2CCN(...,2325719276,434.515,3.8361,2,5,68
1,C[C@@H](NC(=O)/C=C/c1c(Cl)nc2sccn12)c1ccc(N2CC...,2325719436,447.967,3.8307,1,6,97
2,C[C@H]1CN(c2ccc(CNC(=O)[C@@H](C)n3ccc4ccccc4c3...,252536409,437.515,3.6316,1,5,146
3,O=C(NCc1ccc(N2CCOCC2)cc1C(F)(F)F)c1ccc(NCC2CC2...,170617918,434.462,3.6889,2,5,68
4,COc1ccc(Cl)cc1NC(=O)C1=C(C)NC(=S)N[C@@H]1c1ccc...,867170,430.961,3.8461,3,4,99

In [ ]:
average_mw = final_data["MolWt"].mean()
average_logp = final_data["LogP"].mean()
average_hd = final_data["HDonors"].mean()
average_ha = final_data["HAcceptors"].mean()

In [ ]:
print(average_mw)
print(average_logp)
print(average_hd)
print(average_ha)

352.72928276866514
2.7682560750944396
1.0925988265565831
4.65551794469184

In [ ]:
cluster_6_data = final_data[final_data["cluster"] == 6].reset_index(drop=True)

In [ ]:
cluster_6_data

,smiles,zinc_id,MolWt,LogP,HDonors,HAcceptors,cluster
0,Cc1ccc([C@@H]2C(C(=O)c3cc(C)ccc3C)=C(O)C(=O)N2...,20167026,448.563,3.91246,1,5,6
1,C[C@@H]1CC=C[C@@H]2[C@@H]3O[C@]3(C)[C@H](C)[C@...,2332926187,449.591,3.71220,1,4,6
2,COc1ccccc1/C=C1\SC(Nc2ccccc2)=C(C(=O)NC2CCN(C)...,2080317858,449.576,3.88610,2,6,6
3,C#CCOc1c(I)cc([C@H]2NC(=O)c3ccccc3O2)cc1OCC,12411410,449.244,3.52290,1,4,6
4,C=C(C)CN1C(=O)N[C@@](CC)(C2CCN(C(=O)c3cc(C)nc4...,11782598,448.567,3.98054,1,4,6
...,...,...,...,...,...,...,...
65119,CCSc1nnc2c(n1)O[C@@H](c1ccc(N(CC)CC)cc1)N(C(C)...,2978132,449.580,4.94090,0,7,6
65120,CCCCSc1nnc2c(n1)O[C@@H](c1ccc(N(C)C)cc1)N(C(C)...,2094218,449.580,4.94090,0,7,6
65121,CCCCSc1nnc2c(n1)O[C@H](c1ccc(N(C)C)cc1)N(C(C)=...,2094216,449.580,4.94090,0,7,6
65122,CCSc1nnc2c(n1)O[C@H](c1ccc(N(CC)CC)cc1)N(C(C)=...,2978133,449.580,4.94090,0,7,6
65123,CCC(=O)N1c2ccccc2-c2nnc(SC)nc2O[C@H]1c1ccc(N(C...,8453039,449.580,4.94090,0,7,6

In [ ]:
cluster_6_average_mw = cluster_6_data["MolWt"].mean()
cluster_6_average_logp = cluster_6_data["LogP"].mean()
cluster_6_average_hd = cluster_6_data["HDonors"].mean()
cluster_6_average_ha = cluster_6_data["HAcceptors"].mean()

In [ ]:
print(cluster_6_average_mw)
print(cluster_6_average_logp)
print(cluster_6_average_hd)
print(cluster_6_average_ha)

450.1882086634729
3.7633832405871903
1.1631656532154044
4.992537313432836

cluster 6에 속한 molecules은 전체 평균보다 MW 및 LogP가 각각 대략 100과 1 만큼 높으며 이것은 둘다 평균보다 1.3배 차이를 보입니다. HDonor와 HAcceptor는 평균과 거의 비슷합니다.

In [6]:
import time
import random
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from rdkit import Chem
from rdkit import DataStructs
from rdkit.ML.Cluster import Butina 
from rdkit.Chem import Draw
from rdkit.Chem import rdFingerprintGenerator
from rdkit.Chem import PandasTools

from tqdm import tqdm

import numpy as np
from rdkit import Chem
from rdkit.Chem import Descriptors, Lipinski

In [7]:
zinc27 = Chem.MolFromSmiles("COc1ccc([C@@H]2CCCN2C(=O)Nc2cc(C(F)(F)F)ccc2N2CCOCC2)cc1")
zinc27

In [8]:
desc_MolWt = Descriptors.MolWt(zinc27)
desc_MolLogP = Descriptors.MolLogP(zinc27)
desc_NumHDonors = Descriptors.NumHDonors(zinc27)
desc_NumHAcceptors = Descriptors.NumHAcceptors(zinc27)

row = np.array([desc_MolWt, desc_MolLogP, desc_NumHDonors, desc_NumHAcceptors])
row

array([449.473 ,   4.9196,   1.    ,   4.    ])

In [9]:
row = pd.DataFrame(row.reshape(1, -1), columns=["MolWt", "LogP", "HDonors", "HAcceptors"])
row

     MolWt    LogP  HDonors  HAcceptors
0  449.473  4.9196      1.0         4.0