In [1]:
import pickle

In [2]:
with open("./custom_data_nr-ar_results.pkl", "rb") as a:
    data1 = pickle.load(a)

In [4]:
with open("./custom_data_nr-ar-lbd_results.pkl", "rb") as b:
    data2 = pickle.load(b)

In [5]:
with open("./custom_data_nr-ahr_results.pkl", "rb") as c:
    data3 = pickle.load(c)

In [6]:
with open("./custom_data_nr-aromatase_results.pkl", "rb") as d:
    data4 = pickle.load(d)

In [7]:
with open("./custom_data_nr-er_results.pkl", "rb") as e:
    data5 = pickle.load(e)

In [8]:
with open("./custom_data_nr-er-lbd_results.pkl", "rb") as f:
    data6 = pickle.load(f)

In [9]:
with open("./custom_data_nr-ppar-gamma_results.pkl", "rb") as g:
    data7 = pickle.load(g)

In [10]:
with open("./custom_data_sr-are_results.pkl", "rb") as h:
    data8 = pickle.load(h)

In [11]:
with open("./custom_data_sr-atad5_results.pkl", "rb") as i:
    data9 = pickle.load(i)

In [12]:
with open("./custom_data_sr-hse_results.pkl", "rb") as i:
    data10 = pickle.load(i)

In [13]:
with open("./custom_data_sr-mmp_results.pkl", "rb") as i:
    data11 = pickle.load(i)

In [14]:
with open("./custom_data_sr-p53_results.pkl", "rb") as i:
    data12 = pickle.load(i)

In [2]:
import pickle

with open("./custom_data_with_ZN27_nr-ar_results.pkl", "rb") as a:
    data1 = pickle.load(a)

with open("./custom_data_with_ZN27_nr-ar-lbd_results.pkl", "rb") as b:
    data2 = pickle.load(b)

with open("./custom_data_with_ZN27_nr-ahr_results.pkl", "rb") as c:
    data3 = pickle.load(c)

with open("./custom_data_with_ZN27_nr-aromatase_results.pkl", "rb") as d:
    data4 = pickle.load(d)

with open("./custom_data_with_ZN27_nr-er_results.pkl", "rb") as e:
    data5 = pickle.load(e)

with open("./custom_data_with_ZN27_nr-er-lbd_results.pkl", "rb") as f:
    data6 = pickle.load(f)

with open("./custom_data_with_ZN27_nr-ppar-gamma_results.pkl", "rb") as g:
    data7 = pickle.load(g)

with open("./custom_data_with_ZN27_sr-are_results.pkl", "rb") as h:
    data8 = pickle.load(h)

with open("./custom_data_with_ZN27_sr-atad5_results.pkl", "rb") as i:
    data9 = pickle.load(i)

with open("./custom_data_with_ZN27_sr-hse_results.pkl", "rb") as j:
    data10 = pickle.load(j)

with open("./custom_data_with_ZN27_sr-mmp_results.pkl", "rb") as k:
    data11 = pickle.load(k)

with open("./custom_data_with_ZN27_sr-p53_results.pkl", "rb") as l:
    data12 = pickle.load(l)

In [15]:
len(data1["pred_cls"])

43

In [16]:
data1["pred_cls"][0]

array([0.9749009 , 0.02509914], dtype=float32)

In [17]:
data1["pred_cls"][0][0]

0.9749009

In [18]:
print(len(data1["pred_cls"]))
data1_list = []
for i in range(len(data1["pred_cls"])):
    for x in range(len(data1["pred_cls"][i])):
        if x == 0:
            data1_list.append(data1["pred_cls"][i][x])
print(len(data1_list))

43
43

In [19]:
print(len(data2["pred_cls"]))
data2_list = []
for i in range(len(data2["pred_cls"])):
    for x in range(len(data2["pred_cls"][i])):
        if x == 0:
            data2_list.append(data2["pred_cls"][i][x])
print(len(data2_list))

43
43

In [20]:
print(len(data3["pred_cls"]))
data3_list = []
for i in range(len(data3["pred_cls"])):
    for x in range(len(data3["pred_cls"][i])):
        if x == 0:
            data3_list.append(data3["pred_cls"][i][x])
print(len(data3_list))

43
43

In [21]:
print(len(data4["pred_cls"]))
data4_list = []
for i in range(len(data4["pred_cls"])):
    for x in range(len(data4["pred_cls"][i])):
        if x == 0:
            data4_list.append(data4["pred_cls"][i][x])
print(len(data4_list))

43
43

In [22]:
print(len(data5["pred_cls"]))
data5_list = []
for i in range(len(data5["pred_cls"])):
    for x in range(len(data5["pred_cls"][i])):
        if x == 0:
            data5_list.append(data5["pred_cls"][i][x])
print(len(data5_list))

43
43

In [23]:
print(len(data6["pred_cls"]))
data6_list = []
for i in range(len(data6["pred_cls"])):
    for x in range(len(data6["pred_cls"][i])):
        if x == 0:
            data6_list.append(data6["pred_cls"][i][x])
print(len(data6_list))

43
43

In [24]:
print(len(data7["pred_cls"]))
data7_list = []
for i in range(len(data7["pred_cls"])):
    for x in range(len(data7["pred_cls"][i])):
        if x == 0:
            data7_list.append(data7["pred_cls"][i][x])
print(len(data7_list))

43
43

In [25]:
print(len(data8["pred_cls"]))
data8_list = []
for i in range(len(data8["pred_cls"])):
    for x in range(len(data8["pred_cls"][i])):
        if x == 0:
            data8_list.append(data8["pred_cls"][i][x])
print(len(data8_list))

43
43

In [26]:
print(len(data9["pred_cls"]))
data9_list = []
for i in range(len(data9["pred_cls"])):
    for x in range(len(data9["pred_cls"][i])):
        if x == 0:
            data9_list.append(data9["pred_cls"][i][x])
print(len(data9_list))

43
43

In [27]:
print(len(data10["pred_cls"]))
data10_list = []
for i in range(len(data10["pred_cls"])):
    for x in range(len(data10["pred_cls"][i])):
        if x == 0:
            data10_list.append(data10["pred_cls"][i][x])
print(len(data10_list))

43
43

In [28]:
print(len(data11["pred_cls"]))
data11_list = []
for i in range(len(data11["pred_cls"])):
    for x in range(len(data11["pred_cls"][i])):
        if x == 0:
            data11_list.append(data11["pred_cls"][i][x])
print(len(data11_list))

43
43

In [29]:
print(len(data12["pred_cls"]))
data12_list = []
for i in range(len(data12["pred_cls"])):
    for x in range(len(data12["pred_cls"][i])):
        if x == 0:
            data12_list.append(data12["pred_cls"][i][x])
print(len(data12_list))

43
43

In [30]:
def parsing(list_data):

    list_1 = []
    list_2 = []
    list_3 = []
    list_4 = []
    list_5 = []
    list_6 = []
    list_7 = []
    list_8 = []
    list_9 = []
    list_10 = []

    for x in list_data:
        if 0.9 < x <= 1:
            list_1.append(x)
        elif 0.8 < x <= 0.9:
            list_2.append(x)
        elif 0.7 < x <= 0.8:
            list_3.append(x)
        elif 0.6 < x <= 0.7:
            list_4.append(x)
        elif 0.5 < x <= 0.6:
            list_5.append(x)
        elif 0.4 < x <= 0.5:
            list_6.append(x)
        elif 0.3 < x <= 0.4:
            list_7.append(x)
        elif 0.2 < x <= 0.3:
            list_8.append(x)
        elif 0.1 < x <= 0.2:
            list_9.append(x)
        elif 0 <= x <= 0.1:
            list_10.append(x)
    
    print(len(list_1))
    print(len(list_2))
    print(len(list_3))
    print(len(list_4))
    print(len(list_5))
    print(len(list_6))
    print(len(list_7))
    print(len(list_8))
    print(len(list_9))
    print(len(list_10))
    print(len(list_1) + len(list_2) + len(list_3) + len(list_4) + len(list_5) + len(list_6) + len(list_7) + len(list_8) + len(list_9) + len(list_10))

In [31]:
parsing(data1_list)

43
0
0
0
0
0
0
0
0
0
43

In [32]:
parsing(data2_list)

42
1
0
0
0
0
0
0
0
0
43

In [33]:
parsing(data3_list)

13
7
8
2
0
2
2
2
2
5
43

In [34]:
parsing(data4_list)

27
12
4
0
0
0
0
0
0
0
43

In [35]:
parsing(data5_list)

37
4
1
0
0
0
0
1
0
0
43

In [36]:
parsing(data6_list)

43
0
0
0
0
0
0
0
0
0
43

In [37]:
parsing(data7_list)

39
1
0
0
0
2
1
0
0
0
43

In [38]:
parsing(data8_list)

18
7
8
2
4
0
2
1
0
1
43

In [39]:
parsing(data9_list)

35
5
1
1
0
0
1
0
0
0
43

In [40]:
parsing(data10_list)

41
2
0
0
0
0
0
0
0
0
43

In [41]:
parsing(data11_list)

29
3
0
2
2
1
0
0
4
2
43

In [42]:
parsing(data12_list)

33
6
1
1
0
2
0
0
0
0
43

In [43]:
import pandas as pd

In [44]:
final_elemBERT_results = pd.DataFrame(zip(data1_list, data2_list, data3_list, data4_list, data5_list, data6_list, data7_list, data8_list, data9_list, data10_list, data11_list, data12_list), columns = ["nr-ar", "nr-ar-lbd", "nr-ahr", "nr-aromatase", "nr-er", "nr-er-lbd", "nr-ppar-gamma", "sr-are", "sr-atad5", "sr-hse", "sr-mmp", "sr-p53"])

In [45]:
final_elemBERT_results.head()

,nr-ar,nr-ar-lbd,nr-ahr,nr-aromatase,nr-er,nr-er-lbd,nr-ppar-gamma,sr-are,sr-atad5,sr-hse,sr-mmp,sr-p53
0,0.974901,0.982013,0.061217,0.968801,0.996271,0.992347,0.999431,0.985825,0.991887,0.999384,0.980799,0.948926
1,0.976566,0.996302,0.089791,0.714170,0.947435,0.999913,0.999401,0.819958,0.992191,0.995693,0.987325,0.952360
2,0.995009,0.996950,0.992911,0.905057,0.998801,0.999852,0.979812,0.513679,0.896153,0.990153,0.838972,0.995862
3,0.987652,0.994409,0.667116,0.842116,0.972644,0.999911,0.998458,0.867404,0.840366,0.997489,0.995519,0.934092
4,0.998888,0.995118,0.898902,0.985073,0.994146,0.999936,0.999566,0.986587,0.977269,0.961019,0.980918,0.937024

In [46]:
len(final_elemBERT_results)

43

In [47]:
custom_data = pd.read_csv("./data/custom_data.csv")
custom_data.head()

,smiles,typesV1
0,COc1ccc(NC(=O)N[C@@H]2CCN(c3ccccc3F)C2=O)cc1,"['C1', 'O0', 'C0', 'C3', 'C3', 'C0', 'N0', 'C0..."
1,COc1ccc(NC(=O)N[C@H]2CCN(c3ccccc3F)C2=O)cc1,"['C1', 'O0', 'C0', 'C3', 'C3', 'C0', 'N7', 'C0..."
2,O=C(NCc1cccnc1Oc1ccc(F)cc1F)c1c[nH]c(=O)[nH]1,"['O0', 'C3', 'N7', 'C5', 'C0', 'C3', 'C3', 'C3..."
3,O=C1C[C@H](NC(=O)Nc2ccc(Oc3cccc(F)c3F)nc2)CN1,"['O0', 'C0', 'C5', 'C3', 'N0', 'C0', 'O0', 'N0..."
4,COc1cc(F)ccc1NC(=O)N[C@@H](C)C(=O)NCc1ccco1,"['C1', 'O0', 'C0', 'C3', 'C0', 'F1', 'C3', 'C3..."

In [49]:
custom_data.iloc[42]

smiles     O=C(NC1=CC=CC=C1)N[C@@H]2C(NC[C@H]2C3=C(F)C=C(...
typesV1    ['O0', 'C0', 'N7', 'C0', 'C3', 'C3', 'C3', 'C3...
Name: 42, dtype: object

In [50]:
len(custom_data)

43

In [51]:
final_elemBERT_results = pd.concat([custom_data["smiles"], final_elemBERT_results], axis=1)
final_elemBERT_results.head()

,smiles,nr-ar,nr-ar-lbd,nr-ahr,nr-aromatase,nr-er,nr-er-lbd,nr-ppar-gamma,sr-are,sr-atad5,sr-hse,sr-mmp,sr-p53
0,COc1ccc(NC(=O)N[C@@H]2CCN(c3ccccc3F)C2=O)cc1,0.974901,0.982013,0.061217,0.968801,0.996271,0.992347,0.999431,0.985825,0.991887,0.999384,0.980799,0.948926
1,COc1ccc(NC(=O)N[C@H]2CCN(c3ccccc3F)C2=O)cc1,0.976566,0.996302,0.089791,0.714170,0.947435,0.999913,0.999401,0.819958,0.992191,0.995693,0.987325,0.952360
2,O=C(NCc1cccnc1Oc1ccc(F)cc1F)c1c[nH]c(=O)[nH]1,0.995009,0.996950,0.992911,0.905057,0.998801,0.999852,0.979812,0.513679,0.896153,0.990153,0.838972,0.995862
3,O=C1C[C@H](NC(=O)Nc2ccc(Oc3cccc(F)c3F)nc2)CN1,0.987652,0.994409,0.667116,0.842116,0.972644,0.999911,0.998458,0.867404,0.840366,0.997489,0.995519,0.934092
4,COc1cc(F)ccc1NC(=O)N[C@@H](C)C(=O)NCc1ccco1,0.998888,0.995118,0.898902,0.985073,0.994146,0.999936,0.999566,0.986587,0.977269,0.961019,0.980918,0.937024

In [52]:
final_elemBERT_results.isnull().sum()

smiles           0
nr-ar            0
nr-ar-lbd        0
nr-ahr           0
nr-aromatase     0
nr-er            0
nr-er-lbd        0
nr-ppar-gamma    0
sr-are           0
sr-atad5         0
sr-hse           0
sr-mmp           0
sr-p53           0
dtype: int64

In [53]:
len(final_elemBERT_results)

43

In [54]:
# parsing only ZN27 properties
reference_properties = final_elemBERT_results.iloc[42]

In [55]:
df_reference_properties = pd.DataFrame(reference_properties).T
df_reference_properties

,smiles,nr-ar,nr-ar-lbd,nr-ahr,nr-aromatase,nr-er,nr-er-lbd,nr-ppar-gamma,sr-are,sr-atad5,sr-hse,sr-mmp,sr-p53
42,O=C(NC1=CC=CC=C1)N[C@@H]2C(NC[C@H]2C3=C(F)C=C(...,0.997515,0.993729,0.966663,0.896233,0.998516,0.995842,0.999296,0.888512,0.998933,0.952094,0.97324,0.996295

In [56]:
df_reference_properties.to_csv("final_elemBERT_only_reference_results.csv", index=False)

In [58]:
final_elemBERT_results.to_csv("final_elemBERT_results.csv", index=False)